.btn {
    border: none;
    height: 38px;
    margin: 5px !important;
    padding: 5px 10px !important;
    text-align: center;
    align-items: center;
}

.btn:focus, .btn:active {
    box-shadow: 0 0 0 2px #219EBC;
}

.btn:hover {
    cursor: pointer;
}

.btn:disabled {
    cursor: not-allowed;
}

.btn-primary, .btn-primary:disabled {
    background-color: #FFB703;
    color: #023047;
    font-weight: bold;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #FB8500;
    color: #023047;
}

.btn-secondary, .btn-secondary:disabled {
    color: #023047;
    background-color: #8ECAE6;
    font-weight: bold;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
    background-color: #219EBC;
    color: #023047;
}

.btn-success, .btn-success:disabled {
    background-color: #2ECC71;
}

.btn-success:hover, .btn-success:focus, .btn-success:active {
    background-color: #27AE60;
}

.btn-danger, .btn-danger:disabled {
    background-color: #C70039;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
    background-color: #8B0000;
}

.form-control, .form-select {
    color: #023047;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-control:focus {
    box-shadow: 0 0 0 2px #219EBC;
}

.form-label {
    color: #023047;
    line-height: 0;
    font-weight: bold;
}

.form-check-input:checked {
    background-color: #023047;
}

.form-check-input:checked:focus, .form-check-input:checked:hover, .form-check-input:checked:active, .form-check-input:focus, .form-check-input:hover, .form-check-input:active {
    box-shadow: 0 0 0 2px #219EBC;
}

h1 {
    font-weight: bold;
    text-align: center;
    height: 50px;
    line-height: 50px;
    color: #023047;
    margin: 30px 0 0;
    font-family: 'Overpass', sans-serif;
    background-color: #8ECAE6;
}

.modal-title {
    color: #023047;
    font-weight: bold;
}

.list-group-item {
    color: #023047;
}
