<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="homeContainer">
    <div class="last">
        <div class="coverImage"><img src="https://aforismi.meglio.it/img/film/armageddon.jpg" class="card-img" alt=""></div>
        <div class="pattern"></div>
        <div class="coverText">
            <div>
                <h1>Armageddon</h1>
                <p>Armageddon plot</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
